<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WAILA</title>
</head>
<body>
    <header>
        <h1>WAILA</h1>
        <p>What Am I Looking At?</p>
    </header>
    <hr>
    <nav>
        <ul>
            <li>Search and Lookup
                <ul>
                    <li><a href="/search/cable">Find a cable</a></li>
                </ul>
            </li>
            <li>Actions
                <ul>
                    <li><a href="/cable/new">Register new cable</a></li>
                    <li><a href="/connector-types/new">Register connector type</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</body>
</html>